@charset "UTF-8";
 /* TYPICAL DEVICE BREAKPOINTS 
 ------------------------------
 Pequenas telas: até 600px
 celular: 600 - 768px
 tablet: 768 - 992px
 desktop: 992 - 1200px
 grandes telas: 1200px
 (pesquisar para ver se essas referencias nao mudaram)
 */

@media screen and (min-width: 768px) {
    #burguer{       /* para sumir o burguer */
        display: none;
    }
    menu{          /* para fazer o menu reaparecer */
        display: block;
    }

    menu > ul > li {  /* para colocar o menu em linha */
        display: inline-block;
        margin-right: 3px;
        border-bottom: 2px solid whitesmoke;
    }    
}

main{
    max-width: 768px;
    width: 90%;

    

}